button.listeArtistes {
    display: block;
    position: sticky;
    top: 40px;
    right: 0px;
    background-color: #c2ddf7;
    text-align: center;
    width: 134px;
    height: 40px;
    z-index: 2;
}

aside {
    display: none;
    position: sticky;
    top: 80px;
    z-index: 1;
    width: 130px;
    border: 2px solid black;
}

aside a {
    display: flex;
    flex-direction: column;
    background-color: #80b7e9;
    /* width: 160px; */
}

aside a:hover {
    background-color: #3e668b;
}

main h3{
    margin-top: 0;
}

p {
    text-align: justify;
}


#photo-artiste {
    border-radius: 10px;
    width: 90%;
}

figcaption img {
    width: 15%;
}

figcaption legend {
    width: 85%;
    /* font-size: 0.5rem; */
}

figcaption {
    text-align: justify;
}

main img {
    box-shadow: 2px 2px 2px black;
}

ul:last-child {
    list-style: none;
}

audio {
    margin: 20px;
}

@media screen and (min-width: 768px) {
    #dispo-artiste {
        display: grid;
        grid-template-columns: 2fr 3fr;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        padding: 20px;
    }
}