#tickets {
    color: rgb(14, 29, 243);
    text-shadow: 10px;
}

main{
background: linear-gradient(#4f5666, #a0a5b1);
margin: auto;
padding: 5px 25px;
border-radius: 25px;
width: 80%;
display: flex;
flex-direction: column;
}
main img{
    height: 15em;
    width: 30em;
}

/* header img, footer img{
    height: ;
} */

main section{
    /* margin: auto; */
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    width: 100%; 
    

}
main section:nth-child(1){
    margin-top: 15px;
    background-color: hsla(256, 58%, 38%, 0.486) ;  
}

main section:nth-child(2){
    background-color: hsla(24, 88%, 53%, 0.486) ;
}

main section:nth-child(3){
    background-color: hsla(324, 90%, 35%, 0.486) ;   
}

main section:nth-child(4){
    background-color: hsla(50, 91%, 48%, 0.486);
}

main section h5, aside{
    width: 20%;
    text-align: center;
}
aside h5{
    display: inline;
}
main section figure{
    width: 40%;
}

main section:nth-child(5){
    margin: 25px;
    padding: 25px;
    border-radius: 25px;
}
#bouton{
    background-color: rgb(178, 206, 206);
    border-radius: 25px; color:rgb(0, 0, 0);
    border: transparent ;
    padding: 10px;

}
